* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Wallpaper */
#homepage {
  background-color: blueviolet;
  background: url("/Users/max/Desktop/project-5/client/src/Components/images/resized-homepage-bg.png")center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: contain;
  background-repeat: repeat-x;
  height: 100vh;
}

@media screen and (max-width: 1286px) {
  #homepage {
    background-color: blueviolet;
    background: url("/Users/max/Desktop/project-5/client/src/Components/images/resized-homepage-bg.png")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
  }
}

/* TV */
#homepage-fg{
  background: url("/Users/max/Desktop/project-5/client/src/Components/images/rezised-homepage-fg.gif") no-repeat center center;
  height: 90%;
  width: 90%;
  background-size: contain;
  margin-top: 3%;
  margin-left: 5%;
  bottom: 0;
  position: fixed;
}

#login{
  align-items: center;
  min-width: 300px;
  max-width: 300px;
  /* position fixed look into this */
}

#homepage_login{
  justify-content: center;
  position: fixed;
  top: 32%;
  left: 40%;
  /* left: 100px;
  right: 100px; */
}

#userpage {
  background-color: blueviolet;
  background: url("/Users/max/Desktop/project-5/client/src/Components/images/userpage-bg.png")left center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: contain;
  background-repeat: repeat-x;
  height: 100vh;
}

@media screen and (max-width: 1286px) {
  #userpage {
    background-color: blueviolet;
    background: url("/Users/max/Desktop/project-5/client/src/Components/images/userpage-bg.png")left center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
  }
}

#userpage-fg{
  background: url("/Users/max/Desktop/project-5/client/src/Components/images/userpage-fg.gif") repeat center top;
}

.card {
  position: relative;
  text-align: center;
  display: flex;
  margin: 10px;
  max-width: 15rem;
}

.card_container{
  height: 80vh;
  width: cover;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
}

#card_container_userpage{
  height: 80vh;
  width: cover;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
}

#signuppage {
  background-color: blueviolet;
  background: url("/Users/max/Desktop/project-5/client/src/Components/images/sign-up-cafe.gif") no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}

#gameformpage{
  background-color: blueviolet;
  background: url("/Users/max/Desktop/project-5/client/src/Components/images/aliencoffee.gif") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}

#newgameformdescription{
  color:white;
}

.newgamelabeltext{
  color:white;
  font-size: 2rem;
  font-family: 'SpaceType', sans-serif;
}

.userpage_text{
  color:white;
  font-size: 2rem;
  font-family: 'SpaceType', sans-serif;
}

#newgameform{
  width: 50%;
  align-items: center;
}

#signup_form{
  color:white;
  font-family: 'Callie Chalk Font', sans-serif;
}


#signupform{
  margin-top: 7%;
  left: 42%;
  align-items: center;
  min-width: 320px;
  max-width: 400px;
}

#signUplink{
  margin-top: 2px;
}

#overlay{
  background-color: rgba(0, 0, 0, 0.425);
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  z-index: 15;
}

#modal_on_page{
  top: 0;
  left: 0;
  position: absolute;
}

#popup-container {
  background-color: aquamarine;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4%;
  margin-left: 25%;
  width: 50%;
  padding: 3em;
  border-radius: 2em;
} 

#videogamepagebg{
  background-color: blueviolet;
  background: url("/Users/max/Desktop/project-5/client/src/Components/images/coffeepour.gif")no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
}

#signup_nav{
  color: white;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 10px 10px;
}

#signup_ul_nav{
  text-align: right;
}

#userpage_nav{
  color: white;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 10px 10px;
}

#userpage_ul_nav{
  text-align: right;
}

#signup_nav{
  color: white;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 10px 10px;
}

#signup_ul_nav{
  text-align: right;
}

#signup_header{
  text-align: center;
}