* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#homepage {
  background-color: blueviolet;
  background: url("./gamecafe.gif") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}
#userpage{  background-color: blueviolet;
  background: url("/Users/max/Desktop/project-5/client/src/Components/images/userpagemock.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh}

.card {
  position: relative;
  text-align: center;
  display: inline-flex;
  margin: 10px;
}

#signuppage {
  background-color: blueviolet;
  background: url("/Users/max/Desktop/project-5/client/src/Components/images/sign-up-cafe.gif") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}

#gameformpage{
  background-color: blueviolet;
  background: url("/Users/max/Desktop/project-5/client/src/Components/images/aliencoffee.gif") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}

#newgameformdescription{
  color:white;
}

.newgamelabeltext{
  color:white;
  font-size: 2rem;
  font-family: 'SpaceType', sans-serif;
}

.userpage_text{
  color:white;
  font-size: 2rem;
  font-family: 'SpaceType', sans-serif;
}

#newgameform{
  width: 50%;
  align-items: center;
}

#signup_form{
  color:white;
  font-family: 'Callie Chalk Font', sans-serif;
}

#login{
  align-items: center;
  min-width: 320px;
  max-width: 320px;
  /* position fixed look into this */
}

#signupform{
  margin-top: 25px;
  left: 40%;
  right: 50%;
  align-items: center;
  min-width: 320px;
  max-width: 320px;
}

#signUplink{
  margin-top: 2px;
}

#homepage_login{
  margin-top: 8rem;
  padding: 15rem;
}

#overlay{
  background-color: rgba(0, 0, 0, 0.425);
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  z-index: 15;
}

/* #content-container {
  position: absolute;
  top: 0;
} */

#popup-container {
  background-color: aquamarine;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50%;
  margin-left: 10em;
  width: 50em;
} 